.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.logo img{
    width: 130px;
    height: 130px;
    margin-right: 40vw;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;

}
.navbar a {
    color: #225169;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bolder;
    font-family: "Sofia", sans-serif;
    font-size: 25px;
}

.menubtn a{
    text-decoration: solid;
}


  /* Change the background color of the menubtncontainer button when the menubtncontainer content is shown */


@media (min-width: 497px) and (max-width:960px){
    .navbar ul{
        list-style-type: none;    
        background-color: #333;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 70px;
    }
}


@media (max-width:496px){
    .navbar ul{
        list-style-type: none;    
        background-color: #333;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 70px;
    }
}