
h1{
    font-size: 1.8em;
    margin-bottom: 15px;
    margin: auto;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  /* Define um gradiente linear como o fundo da página */
    background: linear-gradient(to bottom right, #02bfe9, #0083B0, #00B4DB, #0083B0);
    /* Garante que o fundo cubra toda a página */
    background-size: cover;
    /* Fixa o fundo para que o gradiente não role com a página */
    background-attachment: fixed;}


.subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFB; /* Fundo do card */
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.596); /* Efeito de sombreado */
    padding: 20px;
    width: 795px;
    height: 640px;
}

.userForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    padding: 20px;
    
}

.userForm h2 {
    color: #333;
    text-align: center;
}
.userForm p{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: 100;
    
}
.userForm form {
    display: flex;
    flex-direction: column;
}


.customInput {
    font-family: Arial, sans-serif;
    position: relative;
    padding-top: 14px;
}

.userForm label {
    top: 0;
    padding: 7px 0;
    transition: all 0.3s ease;
    opacity: 0.5;
}

.userForm input {
    width: 300px;
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid #9e9e9e;
    outline: 0;
    font-size: 16px;
}


.userForm input:placeholder-shown ~ label {
    cursor: text;
    top: 24px;
}

.userForm input:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.userForm input:focus ~ label,
.userForm input:not(:placeholder-shown) ~ label {
    top: 0;
    opacity: 1;
}

.userForm input:focus ~ label {
    color: #11998e;

}


.userForm button {
    background-color: #007bff; /* Cor de fundo do botão */
    width: 100%;
    margin-left: auto;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.userForm button:hover {
    background-color: #0056b3; /* Cor de fundo do botão no hover */
}

.loginLink {
    margin: auto;
}

.loginLink a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.loginLink a:hover {
    color: #0056b3;
}

.name{
    outline: none;
    border: none;
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: 0 0;
    padding: 0 7px 0 43px;
}

img{
    width: 450px;
    height: 510px;
}